[mysqld]
max_connections   = 512
connect_timeout   = 5
wait_timeout    = 300
max_allowed_packet  = 16M
thread_cache_size       = 128
sort_buffer_size  = 4M
bulk_insert_buffer_size = 16M
tmp_table_size    = 96M
max_heap_table_size = 96M

table_open_cache  = 800
myisam_sort_buffer_size = 512M
concurrent_insert = 2
read_buffer_size  = 2M
read_rnd_buffer_size  = 1M

query_cache_limit = 256K
query_cache_size = 0
query_cache_type = 0

innodb_log_file_size    = 256M
innodb_buffer_pool_size = 512M
innodb_log_buffer_size  = 256M
innodb_file_per_table   = 1
innodb_open_files       = 10240
innodb_io_capacity      = 400
innodb_flush_method     = O_DIRECT

skip-name-resolve = 1
performance_schema = ON
default-storage-engine = InnoDB
join_buffer_size = 256K