{{$mode := getenv "XDEBUG_MODE" }}
{{ if ne $mode "off"}}
zend_extension=xdebug.so
xdebug.max_nesting_level = {{ getenv "XDEBUG_MAX_NESTING_LEVEL" "256" }}
{{$session := getenv "XDEBUG_SESSION" }}
{{ if eq $session "1" }}
xdebug.client_host = {{ getenv "XDEBUG_CLIENT_HOST" "host.docker.internal" }}
xdebug.start_with_request = {{ getenv "XDEBUG_WITH_REQUEST" "yes" }}
{{ end }}

{{ if eq $mode "profile"}}
xdebug.profiler_append = {{ getenv "XDEBUG_PROFILER_APPEND" "0" }}
xdebug.output_dir = {{ getenv "XDEBUG_PROFILER_FILES_DIR" }}/xdebug/profiler
xdebug.profiler_output_name = {{ getenv "XDEBUG_PROFILER_OUTPUT_NAME" "cachegrind.out.%p" }}
xdebug.trigger_value= "{{ getenv "XDEBUG_PROFILER_ENABLE_TRIGGER_VALUE" "" }}"
{{ end }}
{{ end }}
